# **TMBD MOVIE DATA ANALYSIS**

This project extracts movie data from the TMDB API, cleans and preprocesses the dataset, and performs in-depth exploratory data analysis. The goal is to uncover meaningful insights, identify trends, and support data-driven decision-making based on movie performance, audience behavior, and industry patterns.

## **Data Extraction**
Extracts movie data from the TMDB API

In [21]:
#Imports packages and modules

#Import os and sys
import os
import sys 
from pathlib import Path
import pandas as pd

#Extarcts the root path of the project and appends it to the sys path
project_root = Path().resolve().parent
sys.path.append(str(project_root))

#Imports loadEnv from config module
from Config.config import loadEnv, getURL, create_retry

#Imports extractDataFromAPI from the extract data module
from Data_Extraction.extractData import extractDataFromAPI

#Imports removeColumns from the remove column module
from Data_Cleaning.removeColumn import removeColumn

In [14]:
movie_ids = [0, 299534,19995,140607,299536,597,135397, 420818, 24428, 168259, 99861,
                    284054, 12445, 181808, 330457, 351286, 109445, 321612, 260513] 

API_KEY = loadEnv(fileName="API_KEY")
url = getURL()
session = create_retry()
data = extractDataFromAPI(session = session, url = url, API_KEY = API_KEY, movie_ids=movie_ids)

#Creates a copy of the original data so that the original data is not been modified
movie_data = data.copy()

In [15]:
#Outputs the columns if the dataFrame is not None or empty
movie_data.columns if movie_data is not None and not movie_data.empty else "No data extracted from the API"

Index(['adult', 'backdrop_path', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'origin_country', 'original_language', 'original_title',
       'overview', 'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'belongs_to_collection.id',
       'belongs_to_collection.name', 'belongs_to_collection.poster_path',
       'belongs_to_collection.backdrop_path', 'belongs_to_collection'],
      dtype='object')

In [16]:
#Outputs the first five rows in the extracted data
movie_data.head()

,adult,backdrop_path,budget,genres,homepage,id,imdb_id,origin_country,original_language,original_title,...,tagline,title,video,vote_average,vote_count,belongs_to_collection.id,belongs_to_collection.name,belongs_to_collection.poster_path,belongs_to_collection.backdrop_path,belongs_to_collection
0,False,/9wXPKruA6bWYk2co5ix6fH59Qr8.jpg,356000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",https://www.marvel.com/movies/avengers-endgame,299534,tt4154796,[US],en,Avengers: Endgame,...,Avenge the fallen.,Avengers: Endgame,False,8.237,26974,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
1,False,/7JNzw1tSZZEgsBw6lu0VfO2X2Ef.jpg,237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://www.avatar.com/movies/avatar,19995,tt0499549,[US],en,Avatar,...,Enter the world of Pandora.,Avatar,False,7.594,32881,87096.0,Avatar Collection,/3C5brXxnBxfkeKWwA1Fh4xvy4wr.jpg,/6qkJLRCZp9Y3ovXti5tSuhH0DpO.jpg,NaN
2,False,/8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg,245000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,[US],en,Star Wars: The Force Awakens,...,Every generation has a story.,Star Wars: The Force Awakens,False,7.300,20104,10.0,Star Wars Collection,/22dj38IckjzEEUZwN1tPU5VJ1qq.jpg,/qVPChlozQ1BP3svfHjiAdNneMGA.jpg,NaN
3,False,/mDfJG3LC3Dqb67AZ52x3Z0jU0uB.jpg,300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",https://www.marvel.com/movies/avengers-infinit...,299536,tt4154756,[US],en,Avengers: Infinity War,...,Destiny arrives all the same.,Avengers: Infinity War,False,8.235,31187,86311.0,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
4,False,/xnHVX37XZEp33hhCbYlQFq7ux1J.jpg,200000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",https://www.paramountmovies.com/movies/titanic,597,tt0120338,[US],en,Titanic,...,Nothing on earth could come between them.,Titanic,False,7.903,26519,NaN,NaN,NaN,NaN,NaN

In [20]:
#Outputs information of the extracted data
movie_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 30 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   adult                                18 non-null     bool
 1   backdrop_path                        18 non-null     object
 2   budget                               18 non-null     int64
 3   genres                               18 non-null     object
 4   homepage                             18 non-null     object
 5   id                                   18 non-null     int64
 6   imdb_id                              18 non-null     object
 7   origin_country                       18 non-null     object
 8   original_language                    18 non-null     object
 9   original_title                       18 non-null     object
 10  overview                             18 non-null     object
 11  popularity                           18 non-null     float64
 12  poster_path                          18 non-null     object
 13  production_companies                 18 non-null     object
 14  production_countries                 18 non-null     object
 15  release_date                         18 non-null     object
 16  revenue                              18 non-null     int64
 17  runtime                              18 non-null     int64
 18  spoken_languages                     18 non-null     object
 19  status                               18 non-null     object
 20  tagline                              18 non-null     object
 21  title                                18 non-null     object
 22  video                                18 non-null     bool
 23  vote_average                         18 non-null     float64
 24  vote_count                           18 non-null     int64
 25  belongs_to_collection.id             16 non-null     float64
 26  belongs_to_collection.name           16 non-null     object
 27  belongs_to_collection.poster_path    16 non-null     object
 28  belongs_to_collection.backdrop_path  16 non-null     object
 29  belongs_to_collection                0 non-null      object
dtypes: bool(2), float64(3), int64(5), object(20)
memory usage: 4.1+ KB

## **DATA CLEANING**

This section of rthe code runs through the data to keep for analysis, converting data types to save space when the program is in execution.

### **DROPPING COLUMNS**

The below columns will be dropped based on the reasons attached:

adult — The adult column is not needed for KPI analysis.

backdrop_path — Rarely needed; large strings/URLs; drop to save space (poster_path is enough).

homepage — optional metadata; drop (keeps size down).

imdb_id — external id not used in spec; drop unless you plan cross-referencing.

origin_country — ambiguous / redundant with production_countries.

original_title — redundant with title for your analysis (drop unless you need original-language title).

video — not useful for KPIs.

belongs_to_collection.id, belongs_to_collection.poster_path, belongs_to_collection.backdrop_path — drop (keep only collection name).

belongs_to_collection (raw JSON) — if you extract the .name into a single column, drop the raw JSON.

any duplicate columns (e.g., both belongs_to_collection and belongs_to_collection.name keep only the .name value).

In [27]:
#Columns to drop
#columns: ['adult', 'imdb_id', 'original_title', 'video', 'homepage'].
columns_to_remove = ('adult', 'imdb_id', 'original_title', 'video', 'homepage', 'backdrop_path', 'origin_country' )

#Calls the remove column function to remove the stated columns from the dataFrame
movie_data = removeColumn(movie_data, columns=columns_to_remove)

WARNING:root:Columns not found and were skipped: ['imdb_id', 'backdrop_path', 'original_title', 'origin_country', 'video', 'homepage', 'adult']
WARNING:root:No valid columns were found for removal.

In [28]:
#Outputs the remaining columns after the dropping the irrelevant columns for this analysis
movie_data.columns

Index(['budget', 'genres', 'id', 'original_language', 'overview', 'popularity',
       'poster_path', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'title', 'vote_average', 'vote_count',
       'belongs_to_collection.id', 'belongs_to_collection.name',
       'belongs_to_collection.poster_path',
       'belongs_to_collection.backdrop_path', 'belongs_to_collection'],
      dtype='object')